* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Courier New', Courier, monospace;

    background-color: black;
    color: white;
}

.container {
    display: flex;

    justify-content: center;
    align-content: center;
}

.calculator {
    max-width: 20em;

    border-style: solid;
    border-radius: 10px;

    margin: 5em;
    padding: 0.5em 2em;
}

.display {
    margin: 1em 0em;

    display: flex;
    flex-direction: column;

    border-style: solid;

    text-align: right;
}

.display > div {
    margin: 0.5em;
    min-height: 1.25em;
}

button {
    padding: 1em;
    border-style: solid;
    border-radius: 5px;
}

button:hover {
    background-color: #202020;
}

button:active {
    background-color: black;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.top-buttons {
    display: flex;
    justify-content: center;

    margin: 0.5em;

    gap: 0.25em;
}

.bottom-buttons {
    display: flex;
    justify-content: center;
}

.numbers {
    display: flex;
    flex-direction: column;
    
    margin: 0.5em;
    gap: 0.25em;
}

.functions {
    display: flex;
    flex-direction: column;

    margin: 0.5em;
    gap: 0.25em;
}

.top,
.middle,
.bottom,
.zero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25em;
}